<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-Plugin"
    version="1.0.0">
    <name>Cordova Plugin for app icon change</name>
    <description>Change the application launch icon dynamically</description>
    <license>MIT</license>
    <keywords></keywords>
    <repo></repo>
    <issue></issue>

     <js-module src="www/plugin.js" name="plugin">
        <runs/>

        <!-- This is the window variable name you want, like window.MyCordovaPlugin -->
        <clobbers target="changeappicon" />
      </js-module>
    
    <!-- android -->
    <platform name="android">
     
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="changeappicon">
          <param name="android-package" value="com.cordova.changeappicon.changeappicon" />
          <param name="onload" value="true" />
        </feature>
      </config-file>
	<preference name="PACKAGE_DIRECTORY" default="src/com/connect/dev"/>
      <source-file src="src/android/changeappicon.java" target-dir="src/com/cordova/changeappicon"/>
	  
	  <source-file src="src/android/Icon1.java" target-dir="$PACKAGE_DIRECTORY"/>
	  <source-file src="src/android/Icon2.java" target-dir="$PACKAGE_DIRECTORY"/>
	  <source-file src="src/android/Icon3.java" target-dir="$PACKAGE_DIRECTORY"/>
	  <source-file src="src/android/Icon4.java" target-dir="$PACKAGE_DIRECTORY"/>
	  <source-file src="src/android/Icon5.java" target-dir="$PACKAGE_DIRECTORY"/>
	  
	  
	  <config-file target="AndroidManifest.xml" parent="application">
            <activity-alias
			android:name="Icon1"
			android:enabled="false"
			android:icon="@drawable/appicon1"
			android:roundIcon="@drawable/appicon1"
			android:label="@string/app_name"
			android:exported="true"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>

		<activity-alias
			android:name="AAQ"
			android:enabled="false"
			android:icon="@drawable/aaq"
			android:roundIcon="@drawable/aaq"
			android:label="@string/app_name"
			android:exported="true"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>

		<activity-alias
			android:name="AKN"
			android:enabled="false"
			android:icon="@drawable/akn"
			android:roundIcon="@drawable/akn"
			android:label="@string/app_name"
			android:exported="true"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>

		<activity-alias
			android:name="BISM"
			android:enabled="false"
			android:icon="@drawable/bism"
			android:roundIcon="@drawable/bism"
			android:label="@string/app_name"
			android:exported="true"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>

		<activity-alias
			android:name="CHS"
			android:enabled="false"
			android:icon="@drawable/chs"
			android:roundIcon="@drawable/chs"
			android:label="@string/app_name"
			android:exported="true"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>

		<activity-alias
			android:name="DAA"
			android:enabled="false"
			android:icon="@drawable/daa"
			android:roundIcon="@drawable/daa"
			android:label="@string/app_name"
			android:exported="true"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		  
		  <activity-alias
			android:name="FPS"
			android:enabled="false"
			android:icon="@drawable/fps"
			android:roundIcon="@drawable/fps"
			android:label="@string/app_name"
			android:exported="true"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		  
		  <activity-alias
			android:name="GAA"
			android:enabled="false"
			android:icon="@drawable/gaa"
			android:roundIcon="@drawable/gaa"
			android:label="@string/app_name"
			android:exported="true"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		  
		  <activity-alias
			android:name="GFS"
			android:enabled="false"
			android:icon="@drawable/gfs"
			android:roundIcon="@drawable/gfs"
			android:label="@string/app_name"
			android:exported="true"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		  
		  <activity-alias
			android:name="GIS"
			android:enabled="false"
			android:icon="@drawable/gis"
			android:roundIcon="@drawable/gis"
			android:label="@string/app_name"
			android:exported="true"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		  
		  <activity-alias
			android:name="GMS"
			android:enabled="false"
			android:icon="@drawable/gms"
			android:roundIcon="@drawable/gms"
			android:label="@string/app_name"
			android:exported="true"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		  
		  <activity-alias
			android:name="GWA"
			android:enabled="false"
			android:icon="@drawable/gwa"
			android:roundIcon="@drawable/gwa"
			android:label="@string/app_name"
			android:exported="true"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		  
		  <activity-alias
			android:name="JCD"
			android:enabled="false"
			android:icon="@drawable/jcd"
			android:roundIcon="@drawable/jcd"
			android:label="@string/app_name"
			android:exported="true"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		  
		  <activity-alias
			android:name="JPS"
			android:enabled="false"
			android:icon="@drawable/jps"
			android:roundIcon="@drawable/jps"
			android:label="@string/app_name"
			android:exported="true"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		  
		  <activity-alias
			android:name="KGS"
			android:enabled="false"
			android:icon="@drawable/kgs"
			android:roundIcon="@drawable/kgs"
			android:label="@string/app_name"
			android:exported="true"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		  
		  <activity-alias
			android:name="MHS"
			android:enabled="false"
			android:icon="@drawable/mhs"
			android:roundIcon="@drawable/mhs"
			android:label="@string/app_name"
			android:exported="true"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		  
		  <activity-alias
			android:name="MILS"
			android:enabled="false"
			android:icon="@drawable/mils"
			android:roundIcon="@drawable/mils"
			android:label="@string/app_name"
			android:exported="true"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		  
		  <activity-alias
			android:name="MLS"
			android:enabled="false"
			android:icon="@drawable/mls"
			android:roundIcon="@drawable/mls"
			android:label="@string/app_name"
			android:exported="true"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		  
		  <activity-alias
			android:name="MTS"
			android:enabled="false"
			android:icon="@drawable/mts"
			android:roundIcon="@drawable/mts"
			android:label="@string/app_name"
			android:exported="true"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		  
		  <activity-alias
			android:name="NGS"
			android:enabled="false"
			android:icon="@drawable/ngs"
			android:roundIcon="@drawable/ngs"
			android:label="@string/app_name"
			android:exported="true"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		  
		  <activity-alias
			android:name="NMS"
			android:enabled="false"
			android:icon="@drawable/nms"
			android:roundIcon="@drawable/nms"
			android:label="@string/app_name"
			android:exported="true"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		  
		  <activity-alias
			android:name="OIS"
			android:enabled="false"
			android:icon="@drawable/ois"
			android:roundIcon="@drawable/ois"
			android:label="@string/app_name"
			android:exported="true"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		  
		  <activity-alias
			android:name="OOD"
			android:enabled="false"
			android:icon="@drawable/ood"
			android:roundIcon="@drawable/ood"
			android:label="@string/app_name"
			android:exported="true"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		  
		  <activity-alias
			android:name="OOW"
			android:enabled="false"
			android:icon="@drawable/oow"
			android:roundIcon="@drawable/oow"
			android:label="@string/app_name"
			android:exported="true"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		  
		  <activity-alias
			android:name="RDS"
			android:enabled="false"
			android:icon="@drawable/rds"
			android:roundIcon="@drawable/rds"
			android:label="@string/app_name"
			android:exported="true"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		  
		  <activity-alias
			android:name="TBS"
			android:enabled="false"
			android:icon="@drawable/tbs"
			android:roundIcon="@drawable/tbs"
			android:label="@string/app_name"
			android:exported="true"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		  
		  <activity-alias
			android:name="TWS"
			android:enabled="false"
			android:icon="@drawable/tws"
			android:roundIcon="@drawable/tws"
			android:label="@string/app_name"
			android:exported="true"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		  
		  <activity-alias
			android:name="UIS"
			android:enabled="false"
			android:icon="@drawable/uis"
			android:roundIcon="@drawable/uis"
			android:label="@string/app_name"
			android:exported="true"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		  
		  <activity-alias
			android:name="WIN"
			android:enabled="false"
			android:icon="@drawable/win"
			android:roundIcon="@drawable/win"
			android:label="@string/app_name"
			android:exported="true"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		  
		  <activity-alias
			android:name="WIS"
			android:enabled="false"
			android:icon="@drawable/wis"
			android:roundIcon="@drawable/wis"
			android:label="@string/app_name"
			android:exported="true"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		  
		  <activity-alias
			android:name="WSA"
			android:enabled="false"
			android:icon="@drawable/wsa"
			android:roundIcon="@drawable/wsa"
			android:label="@string/app_name"
			android:exported="true"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		  
		<activity-alias
			android:name="WSG"
			android:enabled="false"
			android:icon="@drawable/wsg"
			android:roundIcon="@drawable/wsg"
			android:label="@string/app_name"
			android:exported="true"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		
		<activity-alias
			android:name="CIA"
			android:enabled="false"
			android:icon="@drawable/cia"
			android:roundIcon="@drawable/cia"
			android:label="@string/app_name"
			android:exported="true"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		  
		<activity-alias
			android:name="GCS"
			android:enabled="false"
			android:icon="@drawable/gcs"
			android:roundIcon="@drawable/gcs"
			android:label="@string/app_name"
			android:exported="true"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		  
		<activity-alias
			android:name="GFM"
			android:enabled="false"
			android:icon="@drawable/gfm"
			android:roundIcon="@drawable/gfm"
			android:label="@string/app_name"
			android:exported="true"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		  
		<activity-alias
			android:name="WAA"
			android:enabled="false"
			android:icon="@drawable/waa"
			android:roundIcon="@drawable/waa"
			android:label="@string/app_name"
			android:exported="true"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		  
		<activity-alias
			android:name="WEK"
			android:enabled="false"
			android:icon="@drawable/wek"
			android:roundIcon="@drawable/wek"
			android:label="@string/app_name"
			android:exported="true"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		  
		<activity-alias
			android:name="WGP"
			android:enabled="false"
			android:icon="@drawable/wgp"
			android:roundIcon="@drawable/wgp"
			android:label="@string/app_name"
			android:exported="true"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		  
		<activity-alias
			android:name="WSD"
			android:enabled="false"
			android:icon="@drawable/wsd"
			android:roundIcon="@drawable/wsd"
			android:label="@string/app_name"
			android:exported="true"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		  
		<activity-alias
			android:name="WSF"
			android:enabled="false"
			android:icon="@drawable/wsf"
			android:roundIcon="@drawable/wsf"
			android:label="@string/app_name"
			android:exported="true"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		  
		<activity-alias
			android:name="WSO"
			android:enabled="false"
			android:icon="@drawable/wso"
			android:roundIcon="@drawable/wso"
			android:label="@string/app_name"
			android:exported="true"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		  
		<activity-alias
			android:name="WSP"
			android:enabled="false"
			android:icon="@drawable/wsp"
			android:roundIcon="@drawable/wsp"
			android:label="@string/app_name"
			android:exported="true"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		  
		<activity-alias
			android:name="WSQ"
			android:enabled="false"
			android:icon="@drawable/wsq"
			android:roundIcon="@drawable/wsq"
			android:label="@string/app_name"
			android:exported="true"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		  
		<activity-alias
			android:name="WSR"
			android:enabled="false"
			android:icon="@drawable/wsr"
			android:roundIcon="@drawable/wsr"
			android:label="@string/app_name"
			android:exported="true"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		  
		<activity-alias
			android:name="WSS"
			android:enabled="false"
			android:icon="@drawable/wss"
			android:roundIcon="@drawable/wss"
			android:label="@string/app_name"
			android:exported="true"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		  
		<activity-alias
			android:name="OOB"
			android:enabled="false"
			android:icon="@drawable/oob"
			android:roundIcon="@drawable/oob"
			android:label="@string/app_name"
			android:exported="true"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		  
		<activity-alias
			android:name="OOL"
			android:enabled="false"
			android:icon="@drawable/ool"
			android:roundIcon="@drawable/ool"
			android:label="@string/app_name"
			android:exported="true"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		  
		<activity-alias
			android:name="OOS"
			android:enabled="false"
			android:icon="@drawable/oos"
			android:roundIcon="@drawable/oos"
			android:label="@string/app_name"
			android:exported="true"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		
        </config-file>

    </platform>
    
        <!-- iOS -->

    <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="changeappicon">
        <param name="ios-package" value="changeappicon" />
      </feature>
    </config-file>
    <header-file src="src/ios/changeappicon.h" />
    <source-file src="src/ios/changeappicon.m" />
	
	<config-file target="*Info.plist" parent="CFBundleIcons">
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>Icon1</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>appicon1</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AAQ</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>aaq</string>
				</array>
			</dict>
			<key>AKN</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>akn</string>
				</array>
			</dict>
			<key>BISM</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>bism</string>
				</array>
			</dict>
			<key>CHS</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>chs</string>
				</array>
			</dict>
			<key>DAA</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>daa</string>
				</array>
			</dict>
			<key>FPS</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>fps</string>
				</array>
			</dict>
			<key>GAA</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>gaa</string>
				</array>
			</dict>
			<key>GFS</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>gfs</string>
				</array>
			</dict>
			<key>GIS</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>gis</string>
				</array>
			</dict>
			<key>GMS</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>gms</string>
				</array>
			</dict>
			<key>GWA</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>gwa</string>
				</array>
			</dict>
			<key>JCD</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>jcd</string>
				</array>
			</dict>
			<key>JPS</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>jps</string>
				</array>
			</dict>
			<key>KGS</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>kgs</string>
				</array>
			</dict>
			<key>MHS</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>mhs</string>
				</array>
			</dict>
			<key>MILS</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>mils</string>
				</array>
			</dict>
			<key>MLS</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>mls</string>
				</array>
			</dict>
			<key>MTS</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>mts</string>
				</array>
			</dict>
			<key>NGS</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ngs</string>
				</array>
			</dict>
			<key>NMS</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>nms</string>
				</array>
			</dict>
			<key>OIS</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ois</string>
				</array>
			</dict>
			<key>OOD</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ood</string>
				</array>
			</dict>
			<key>OOW</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>oow</string>
				</array>
			</dict>
			<key>RDS</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>rds</string>
				</array>
			</dict>
			<key>TBS</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>tbs</string>
				</array>
			</dict>
			<key>TWS</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>tws</string>
				</array>
			</dict>
			<key>UIS</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>uis</string>
				</array>
			</dict>
			<key>WIN</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>win</string>
				</array>
			</dict>
			<key>WIS</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>wis</string>
				</array>
			</dict>
			<key>WSA</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>wsa</string>
				</array>
			</dict>
			<key>WSG</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>wsg</string>
				</array>
			</dict>
			<key>CIA</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>cia</string>
				</array>
			</dict>
			<key>OOS</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>oos</string>
				</array>
			</dict>
			<key>GCS</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>gcs</string>
				</array>
			</dict>
			<key>GFM</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>gfm</string>
				</array>
			</dict>
			<key>WAA</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>waa</string>
				</array>
			</dict>
			<key>WEK</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>wek</string>
				</array>
			</dict>
			<key>WGP</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>wgp</string>
				</array>
			</dict>
			<key>WSD</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>wsd</string>
				</array>
			</dict>
			<key>WSF</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>wsf</string>
				</array>
			</dict>
			<key>WSO</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>wso</string>
				</array>
			</dict>
			<key>WSP</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>wsp</string>
				</array>
			</dict>
			<key>WSQ</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>wsq</string>
				</array>
			</dict>
			<key>WSR</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>wsr</string>
				</array>
			</dict>
			<key>WSS</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>wss</string>
				</array>
			</dict>
			<key>OOL</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ool</string>
				</array>
			</dict>
			<key>OOB</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>oob</string>
				</array>
			</dict>
		</dict>
	</dict>
    </config-file>
	  
	<config-file target="*Info.plist" parent="CFBundleIcons~ipad">
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>Icon1</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>appicon1</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AAQ</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>aaq</string>
				</array>
			</dict>
			<key>AKN</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>akn</string>
				</array>
			</dict>
			<key>BISM</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>bism</string>
				</array>
			</dict>
			<key>CHS</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>chs</string>
				</array>
			</dict>
			<key>DAA</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>daa</string>
				</array>
			</dict>
			<key>FPS</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>fps</string>
				</array>
			</dict>
			<key>GAA</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>gaa</string>
				</array>
			</dict>
			<key>GFS</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>gfs</string>
				</array>
			</dict>
			<key>GIS</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>gis</string>
				</array>
			</dict>
			<key>GMS</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>gms</string>
				</array>
			</dict>
			<key>GWA</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>gwa</string>
				</array>
			</dict>
			<key>JCD</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>jcd</string>
				</array>
			</dict>
			<key>JPS</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>jps</string>
				</array>
			</dict>
			<key>KGS</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>kgs</string>
				</array>
			</dict>
			<key>MHS</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>mhs</string>
				</array>
			</dict>
			<key>MILS</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>mils</string>
				</array>
			</dict>
			<key>MLS</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>mls</string>
				</array>
			</dict>
			<key>MTS</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>mts</string>
				</array>
			</dict>
			<key>NGS</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ngs</string>
				</array>
			</dict>
			<key>NMS</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>nms</string>
				</array>
			</dict>
			<key>OIS</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ois</string>
				</array>
			</dict>
			<key>OOD</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ood</string>
				</array>
			</dict>
			<key>OOW</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>oow</string>
				</array>
			</dict>
			<key>RDS</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>rds</string>
				</array>
			</dict>
			<key>TBS</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>tbs</string>
				</array>
			</dict>
			<key>TWS</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>tws</string>
				</array>
			</dict>
			<key>UIS</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>uis</string>
				</array>
			</dict>
			<key>WIN</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>win</string>
				</array>
			</dict>
			<key>WIS</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>wis</string>
				</array>
			</dict>
			<key>WSA</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>wsa</string>
				</array>
			</dict>
			<key>WSG</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>wsg</string>
				</array>
			</dict>
			<key>CIA</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>cia</string>
				</array>
			</dict>
			<key>OOS</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>oos</string>
				</array>
			</dict>
			<key>GCS</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>gcs</string>
				</array>
			</dict>
			<key>GFM</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>gfm</string>
				</array>
			</dict>
			<key>WAA</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>waa</string>
				</array>
			</dict>
			<key>WEK</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>wek</string>
				</array>
			</dict>
			<key>WGP</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>wgp</string>
				</array>
			</dict>
			<key>WSD</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>wsd</string>
				</array>
			</dict>
			<key>WSF</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>wsf</string>
				</array>
			</dict>
			<key>WSO</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>wso</string>
				</array>
			</dict>
			<key>WSP</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>wsp</string>
				</array>
			</dict>
			<key>WSQ</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>wsq</string>
				</array>
			</dict>
			<key>WSR</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>wsr</string>
				</array>
			</dict>
			<key>WSS</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>wss</string>
				</array>
			</dict>
			<key>OOL</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ool</string>
				</array>
			</dict>
			<key>OOB</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>oob</string>
				</array>
			</dict>
		</dict>
	</dict>
    </config-file>
	
  </platform>
</plugin>
