<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-Plugin"
    version="1.0.0">
    <name>Cordova Plugin for app icon change</name>
    <description>Change the application launch icon dynamically</description>
    <license>MIT</license>
    <keywords></keywords>
    <repo></repo>
    <issue></issue>

     <js-module src="www/plugin.js" name="plugin">
        <runs/>

        <!-- This is the window variable name you want, like window.MyCordovaPlugin -->
        <clobbers target="changeappicon" />
      </js-module>
    
    <!-- android -->
    <platform name="android">
     
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="changeappicon">
          <param name="android-package" value="com.cordova.changeappicon.changeappicon" />
          <param name="onload" value="true" />
        </feature>
      </config-file>
	<preference name="PACKAGE_DIRECTORY" default="src/com/classroom/phoenix"/>
      <source-file src="src/android/changeappicon.java" target-dir="src/com/cordova/changeappicon"/>
	  
	  <source-file src="src/android/Icon1.java" target-dir="$PACKAGE_DIRECTORY"/>
	  <source-file src="src/android/Icon2.java" target-dir="$PACKAGE_DIRECTORY"/>
	  <source-file src="src/android/Icon3.java" target-dir="$PACKAGE_DIRECTORY"/>
	  <source-file src="src/android/Icon4.java" target-dir="$PACKAGE_DIRECTORY"/>
	  <source-file src="src/android/Icon5.java" target-dir="$PACKAGE_DIRECTORY"/>
	  
	  
	  <config-file target="AndroidManifest.xml" parent="application">
            <activity-alias
			android:name="Icon1"
			android:enabled="false"
			android:icon="@drawable/appicon1"
			android:roundIcon="@drawable/appicon1"
			android:label="@string/app_name"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>

		<activity-alias
			android:name="AAQ"
			android:enabled="false"
			android:icon="@drawable/AAQ"
			android:roundIcon="@drawable/AAQ"
			android:label="@string/app_name"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>

		<activity-alias
			android:name="AKN"
			android:enabled="false"
			android:icon="@drawable/AKN"
			android:roundIcon="@drawable/AKN"
			android:label="@string/app_name"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>

		<activity-alias
			android:name="BISM"
			android:enabled="false"
			android:icon="@drawable/BISM"
			android:roundIcon="@drawable/BISM"
			android:label="@string/app_name"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>

		<activity-alias
			android:name="CHS"
			android:enabled="false"
			android:icon="@drawable/CHS"
			android:roundIcon="@drawable/CHS"
			android:label="@string/app_name"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>

		<activity-alias
			android:name="DAA"
			android:enabled="false"
			android:icon="@drawable/DAA"
			android:roundIcon="@drawable/DAA"
			android:label="@string/app_name"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		  
		  <activity-alias
			android:name="FPS"
			android:enabled="false"
			android:icon="@drawable/FPS"
			android:roundIcon="@drawable/FPS"
			android:label="@string/app_name"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		  
		  <activity-alias
			android:name="GAA"
			android:enabled="false"
			android:icon="@drawable/GAA"
			android:roundIcon="@drawable/GAA"
			android:label="@string/app_name"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		  
		  <activity-alias
			android:name="GFS"
			android:enabled="false"
			android:icon="@drawable/GFS"
			android:roundIcon="@drawable/GFS"
			android:label="@string/app_name"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		  
		  <activity-alias
			android:name="GIS"
			android:enabled="false"
			android:icon="@drawable/GIS"
			android:roundIcon="@drawable/GIS"
			android:label="@string/app_name"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		  
		  <activity-alias
			android:name="GMS"
			android:enabled="false"
			android:icon="@drawable/GMS"
			android:roundIcon="@drawable/GMS"
			android:label="@string/app_name"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		  
		  <activity-alias
			android:name="GWA"
			android:enabled="false"
			android:icon="@drawable/GWA"
			android:roundIcon="@drawable/GWA"
			android:label="@string/app_name"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		  
		  <activity-alias
			android:name="JCD"
			android:enabled="false"
			android:icon="@drawable/JCD"
			android:roundIcon="@drawable/JCD"
			android:label="@string/app_name"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		  
		  <activity-alias
			android:name="JPS"
			android:enabled="false"
			android:icon="@drawable/JPS"
			android:roundIcon="@drawable/JPS"
			android:label="@string/app_name"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		  
		  <activity-alias
			android:name="KGS"
			android:enabled="false"
			android:icon="@drawable/KGS"
			android:roundIcon="@drawable/KGS"
			android:label="@string/app_name"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		  
		  <activity-alias
			android:name="MHS"
			android:enabled="false"
			android:icon="@drawable/MHS"
			android:roundIcon="@drawable/MHS"
			android:label="@string/app_name"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		  
		  <activity-alias
			android:name="MILS"
			android:enabled="false"
			android:icon="@drawable/MILS"
			android:roundIcon="@drawable/MILS"
			android:label="@string/app_name"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		  
		  <activity-alias
			android:name="MLS"
			android:enabled="false"
			android:icon="@drawable/MLS"
			android:roundIcon="@drawable/MLS"
			android:label="@string/app_name"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		  
		  <activity-alias
			android:name="MTS"
			android:enabled="false"
			android:icon="@drawable/MTS"
			android:roundIcon="@drawable/MTS"
			android:label="@string/app_name"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		  
		  <activity-alias
			android:name="NGS"
			android:enabled="false"
			android:icon="@drawable/NGS"
			android:roundIcon="@drawable/NGS"
			android:label="@string/app_name"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		  
		  <activity-alias
			android:name="NMS"
			android:enabled="false"
			android:icon="@drawable/NMS"
			android:roundIcon="@drawable/NMS"
			android:label="@string/app_name"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		  
		  <activity-alias
			android:name="OIS"
			android:enabled="false"
			android:icon="@drawable/OIS"
			android:roundIcon="@drawable/OIS"
			android:label="@string/app_name"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		  
		  <activity-alias
			android:name="OOD"
			android:enabled="false"
			android:icon="@drawable/OOD"
			android:roundIcon="@drawable/OOD"
			android:label="@string/app_name"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		  
		  <activity-alias
			android:name="OOW"
			android:enabled="false"
			android:icon="@drawable/OOW"
			android:roundIcon="@drawable/OOW"
			android:label="@string/app_name"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		  
		  <activity-alias
			android:name="RDS"
			android:enabled="false"
			android:icon="@drawable/RDS"
			android:roundIcon="@drawable/RDS"
			android:label="@string/app_name"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		  
		  <activity-alias
			android:name="TBS"
			android:enabled="false"
			android:icon="@drawable/TBS"
			android:roundIcon="@drawable/TBS"
			android:label="@string/app_name"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		  
		  <activity-alias
			android:name="TWS"
			android:enabled="false"
			android:icon="@drawable/TWS"
			android:roundIcon="@drawable/TWS"
			android:label="@string/app_name"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		  
		  <activity-alias
			android:name="UIS"
			android:enabled="false"
			android:icon="@drawable/UIS"
			android:roundIcon="@drawable/UIS"
			android:label="@string/app_name"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		  
		  <activity-alias
			android:name="WIN"
			android:enabled="false"
			android:icon="@drawable/WIN"
			android:roundIcon="@drawable/WIN"
			android:label="@string/app_name"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		  
		  <activity-alias
			android:name="WIS"
			android:enabled="false"
			android:icon="@drawable/WIS"
			android:roundIcon="@drawable/WIS"
			android:label="@string/app_name"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		  
		  <activity-alias
			android:name="WSA"
			android:enabled="false"
			android:icon="@drawable/WSA"
			android:roundIcon="@drawable/WSA"
			android:label="@string/app_name"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
		  
		  <activity-alias
			android:name="WSG"
			android:enabled="false"
			android:icon="@drawable/WSG"
			android:roundIcon="@drawable/WSG"
			android:label="@string/app_name"
			android:targetActivity=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity-alias>
        </config-file>

    </platform>
    
        <!-- iOS -->

    <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="changeappicon">
        <param name="ios-package" value="changeappicon" />
      </feature>
    </config-file>
    <header-file src="src/ios/changeappicon.h" />
    <source-file src="src/ios/changeappicon.m" />
	
	<config-file target="*Info.plist" parent="CFBundleIcons">
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>Icon1</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>appicon1</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Icon2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>appicon2</string>
				</array>
			</dict>
			<key>Icon3</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>appicon3</string>
				</array>
			</dict>
			<key>Icon4</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>appicon4</string>
				</array>
			</dict>
			<key>Icon5</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>appicon5</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>appicon5</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>appicon5</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>appicon5</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>appicon5</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>appicon5</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>appicon5</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>appicon5</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>appicon5</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>appicon5</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>appicon5</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>appicon5</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>appicon5</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>appicon5</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>appicon5</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>appicon5</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>appicon5</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>appicon5</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>appicon5</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>appicon5</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>appicon5</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>appicon5</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>appicon5</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>appicon5</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>appicon5</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>appicon5</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>appicon5</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>appicon5</string>
				</array>
			</dict>
		</dict>
	</dict>
    </config-file>
	  
	<config-file target="*Info.plist" parent="CFBundleIcons~ipad">
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>Icon1</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>appicon1</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Icon2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>appicon2</string>
				</array>
			</dict>
			<key>Icon3</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>appicon3</string>
				</array>
			</dict>
			<key>Icon4</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>appicon4</string>
				</array>
			</dict>
			<key>Icon5</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>appicon5</string>
				</array>
			</dict>
		</dict>
	</dict>
    </config-file>
	
  </platform>
</plugin>
